<!DOCTYPE html>
<html>

{{partial "head.html" . }}

<body data-spy="scroll" data-target="#menu">

    <!--Navbar-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand mx-auto" href="/">IO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/about/">About</a>
                <a class="nav-item nav-link" href="/portfolio/">Portfolio</a>
                <a class="nav-item nav-link"
                    href="https://drive.google.com/file/d/1dWrL7kR9xXaYNTdvMKB8X_SMxYKAl3qJ/view">Resume</a>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

    {{ block "main" . }}

    {{ end }}

    {{partial "footer.html" . }}