{{ define "main" }}

<div class="row d-md-flex h-100 justify-content-center align-items-center">
    <div class="col-md-6 p-5">
        <h1 class=" display-4">Hi, I'm Irene Ong.</h1>
        <p class="h1">
            I'm a writer and translator with a love for coding and technology. You can learn more about me here. </p>
        <ul class="list-inline menu">
            <li class="list-inline-item"><a href="/about/">About</a>——</li>
            <li class="list-inline-item"><a href="/portfolio" />Portfolio</a>——</li>
            <li class="list-inline-item"><a
                    href="https://drive.google.com/file/d/1BpbJlfpWvhaq4zbPNp1JUoJE15n7aBcJ/view">Resume</a>——</li>
            <li class="list-inline-item"><a href="mailto:nong1@student.gsu.edu">Contact</a>——</li>
        </ul>

    </div>
</div>

{{ end }}